{% extends "blog/base.html" %} {% block content %}
<h1>About Page</h1>
<div class="card mb-3">
  <img class="card-img-top" src="/media/about_pics/python-django.png" alt="Card image cap" />
  <div class="card-body">
    <h4 class="card-title">Lorem Ipsum</h4>
    <p class="card-text">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere veritatis
      sed beatae, illum magnam voluptatem, totam quae tempora rem illo
      recusandae! Impedit pariatur quas fugit labore sed dicta necessitatibus
      perferendis voluptatum odio corporis nisi perspiciatis similique
      dignissimos illo maiores magni doloribus vero, quasi mollitia optio
      voluptatibus eveniet facere? Quo animi, harum iusto, porro facere
      reiciendis dolorum cumque est illo culpa sed quas nam sapiente aliquam.
      Est omnis sit laboriosam quisquam ipsam dolorem. Molestias similique,
      maiores ipsa quod eaque odit consectetur ratione saepe voluptates eos ut
      beatae, voluptatibus labore commodi et nesciunt esse repudiandae
      reprehenderit nobis, minima enim ducimus voluptatem. Unde?
    </p>
  </div>
</div>
{% endblock content %}